@page
@model RazorTutorial.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<div class="centerr">
    <h1> The resource you are looking for cannot be found.</h1>
    <a asp-page="index" class="btn btn-primary">
        Click here to get back to home.
    </a>
</div>


